---
Checks: "*,
        -bugprone-easily-swappable-parameters,
        -bugprone-exception-escape,
        -misc-no-recursion,
        -hicpp-use-nullptr,
        -modernize-use-nullptr,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -modernize-use-trailing-return-type,
        -zircon-*,
        -readability-identifier-length,
        -readability-else-after-return,
        -readability-function-cognitive-complexity,
        -readability-static-accessed-through-instance,
        -readability-avoid-const-params-in-decls,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -misc-non-private-member-variables-in-classes,
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none
